nqubits: 8
state: "DMatrix"
layer: 25
etime: True
# Optimization
optimization:
  status: False
  algorithm: "SLSQP"
  iteration: 1
  constraint: False
# Circuit config
circuit:
  draw: False # Draw the circuit
  ansatztype: "xy"
  time:
    min: 0.0
    max: 10.0
  coefficients:
    cn: 1.0
    bn: 0.0
    r: 0.0
  noise:
    status: True
    value: [0.000001, 0.000001, 0.000001, 0.000001]  # Noise probabilities for [r, cz, u, y] gates.
    factor: [5, 5, 5] # Noise identity factors for [r, u, y] gates
  param: [1.5432885922501491, -1.466580677758053, -0.6994569811552129, -1.0037891724783143, 3.194421049398902, 2.605549509179758, 2.8350571800291267, 5.676849424060013, 2.4818208876257972, 5.601254244969108, 3.3335207127183257, 5.140078813551924, 3.8190023449658734, 4.679428118067688, 8.595151663924502, 8.753196146288872, 9.557815608372719, 8.556565544122268, 9.609188854949892, 8.697055673300781, 8.953238254736485, 8.696681790213626, 9.207259824260786, 9.534479271433257, 9.639288363534964, -0.03714112469514068, 0.7897778792939742, 0.9397687825961443, -2.2392573080173337, -0.489022453428865, 1.986964720903291, 0.39146574728655803, -1.558970415143717, -1.0590241958696294, 0.025010188103458623, 0.18204968833930585, -0.5181671762958535, -1.0669669011425498, 1.5456108903254429, -2.0575906158252053, 0.08949436420717558, 1.0408534695235498, 0.08692807654136674, 1.637870378415018, -0.4591515956906456, 0.8638909247945071, -0.980052262038883, 0.21797117789101741, -0.12618542767305574, 1.3344168345042564, -0.24094488244739817, -1.7266810229326481, 1.024482376901299, -0.13358052590326586, 0.008765637447572397, 2.36598339998239, -0.6126985814953947, -1.1928243274592434, 0.18554311313981015, -0.2221171113656634, -0.23572804915700646, 0.1065739984589871, 0.2305622977716097, 0.7650442614634569, -0.1903523310176815, 0.028205912414168848, -0.7459957066539721, 0.2358630617881588, -1.129840663434053, -1.1199874993304244, -0.2018505600710459, -1.7716572941624527, -0.15189832973891484, 2.1758874887624815, -0.1746233970267953, -1.023318653694795, 0.8174780171837576, -1.6578496517208725, 0.28045604640213584, -0.9887381493415912, -0.4550635959721123, 0.5259514993788909, 2.6941100341157145, -0.20360808037592412, -0.8544734437590813, -2.5671117854199808, -1.497329172277945, -0.015139412829652726, 0.08334459294552965, 0.8400500181834483, 1.2159651832669738, 1.2468382199665855, -1.0061869069117166, 0.9168778744191447, -1.0712897847482086, -0.1782349024565091, -0.7753520940334098, 1.0402956462110153, -1.1715036016265457, -1.5214866172076889, -1.274684161484158, -0.7955368924234714, 0.821401322499548, 1.7326615689353286, 1.1842349270415338, 2.22464767969342, -0.6759460307858057, 0.5028955242405839, -0.9842551657400853, 0.3324160902431336, -0.5265951514395798, 0.5126407780730275, -0.5047089664819252, 0.02407369186289517, 0.9612902435222449, -0.17840687520790435, 0.05064539436954246, 0.6112940962779007, 0.48008576698121685, 0.17338875479445354, 2.0289607549577533, -1.2673353902499307, 1.0645488999781407, 1.3824232103470868, -1.0335170345392999]